.flight-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.flight-flight {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.flight-plane12 {
  top: 310.4713439941406px;
  left: 452.36859130859375px;
  width: 965px;
  height: 505px;
  position: absolute;
}
.flight-cont {
  top: 99px;
  left: 137px;
  width: 674px;
  height: 701px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.flight-flights {
  gap: 35px;
  top: 134px;
  left: 56px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.flight-xfllight {
  width: 563px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(55, 111, 20, 0.30000001192092896);
}
.flight-frame4 {
  gap: 43px;
  top: 32px;
  left: 33px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
}
.flight-frame3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text02 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-frame2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text04 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-line1 {
  width: 70px;
  height: 1px;
}
.flight-frame1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: -12px;
}

/*noinspection ALL*/
.flight-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text08 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text10 {
  top: 36px;
  left: 378px;
  color: rgba(170, 2, 2, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-rectangle10 {
  top: 41px;
  left: 457px;
  width: 70px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
  background-color: #1D6411;
  cursor: pointer;
}

.flight-rectangle10 > span {
  color: white;
}

/*noinspection ALL*/
.flight-text12 {
  
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  top: -7px;
    left: 14px;

}
.flight-xfllight1 {
  width: 563px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(55, 111, 20, 0.30000001192092896);
}
.flight-frame41 {
  gap: 43px;
  top: 32px;
  left: 33px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
}
.flight-frame31 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text16 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-frame21 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text18 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-line11 {
  width: 70px;
  height: 1px;
}
.flight-frame11 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text22 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text24 {
  top: 36px;
  left: 347px;
  color: rgba(170, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-rectangle101 {
  top: 41px;
  left: 457px;
  width: 70px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
  background-color: #1D6411;
  cursor: pointer;
}

/*noinspection ALL*/
.flight-text26 {
  top: 44px;
  left: 472px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-xfllight2 {
  width: 563px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(55, 111, 20, 0.30000001192092896);
}
.flight-frame42 {
  gap: 43px;
  top: 32px;
  left: 33px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
}
.flight-frame32 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text30 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-frame22 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text32 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-line12 {
  width: 70px;
  height: 1px;
}
.flight-frame12 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text36 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text38 {
  top: 36px;
  left: 347px;
  color: rgba(170, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-rectangle102 {
  top: 41px;
  left: 457px;
  width: 70px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
  background-color: #1D6411;
  cursor: pointer;
}

/*noinspection ALL*/
.flight-text40 {
  top: 44px;
  left: 472px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-xfllight3 {
  width: 563px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(55, 111, 20, 0.30000001192092896);
}
.flight-frame43 {
  gap: 43px;
  top: 32px;
  left: 33px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
}
.flight-frame33 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text44 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-frame23 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text46 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-line13 {
  width: 70px;
  height: 1px;
}
.flight-frame13 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*noinspection ALL*/
.flight-text48 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text50 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text52 {
  top: 36px;
  left: 347px;
  color: rgba(170, 2, 2, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-rectangle103 {
  top: 41px;
  left: 457px;
  width: 70px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
  background-color: #1D6411;
  cursor: pointer;
}

/*noinspection ALL*/
.flight-text54 {
  top: 44px;
  left: 472px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/*noinspection ALL*/
.flight-text56 {
  top: 54px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flight-plane2 {
  top: 47.77471923828125px;
  left: 975.731201171875px;
  width: 265px;
  height: 284px;
  position: absolute;
}
