.ticket-container {
  width: 80%;
  display: flex;
  /*overflow: auto;*/
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.ticket-con {
  background-color: #d3ffcf;
  width: 900px;
  height: 300px;
  margin-top: 12%;
  margin-left: 25%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  border-radius: 20px;
}

.ticket-rectangle11 {
  width: 100%;
  height: 22%;
  /*position: absolute;*/
  border-radius: 10px 10px 0 0;
}

.top {
  display: flex;
  gap: 120%;
  position: absolute;
}

.logo {
  /*position: absolute;*/
  display: flex;
}

.fts {
  gap: 5px;
  display: flex;
  /*position: absolute;*/
  align-items: center;
  float: right;
}
.planeiconw {
  width: 13px;
  height: 13px;
}
.fts-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 35px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;

}

.ticket-plane16 {
  width: 1072px;
  height: 567px;
}

.lower{
  padding-top: 2px;
  display: flex;
  gap: 20%;
}

.ftb {
  margin-top: 12%;
  margin-left: 3%;
  gap: 20px;
  display: flex;
  align-items: center;
}
.ftb-text {
  color: Black;
  height: auto;
  font-size: 80px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.planeiconb {
  width: 20px;
  height: 20px;
  position: absolute;
}


.cd {
  gap: 90px;
  padding-top: 7%;
  padding-left: 3%;
  display: flex;
  align-items: flex-start;

}
.c-object{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-text {
  color: rgba(104, 101, 101, 1);
  height: auto;
  font-size: 15px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.c-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.cd1 {
  gap: 12px;
  display: flex;
  padding: 10px 27px;
  align-items: flex-start;
  flex-direction: column;
}
.ticket-frame402521 {
  gap: -9px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.ticket-line3 {
  top: 180px;
  left: 922px;
  width: 386px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}

.btn{
  margin: 20px;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  background-color:#1D6411;
  border-bottom:4px solid #267a05;
}

