.payment-container {
  margin: 5%;
  width: 90%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.payment-payment {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  /*position: relative;*/
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
  flex-direction: row;
}
.payment-plane15 {
  width: 500px;
  height: 300px;
  /*position: absolute;*/
}

.payment-body {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #d3ffcf;
  border-radius: 15px;
  /*align-items: flex-start;*/
  flex-shrink: 1;
  flex-direction: column;
}

.payment-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  /*position: absolute;*/
  font-size: 31px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.subtitle {
  top: 48px;
  color: rgba(0, 0, 0, 1);
  width: 372px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.payment-card-details {
  display: flex;
  border: #d3ffcf inset thin;
  border-radius: 1em;
  padding: 2em 1em;
  gap: 10px;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
}
.label {
  width: 423px;
  height: 92px;
  display: flex;
  gap: 4px;
  /*position: absolute;*/
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.input {
  width: 408px;
  height: 59px;
  display: flex;
  /*position: absolute;*/
  align-items: flex-start;
  flex-shrink: 0;
}
.payment-input {
  width: 408px;
  height: 59px;
  padding: 0px 2em;
  border-style: hidden;
  border-radius: 6px;
}

.payment-sign-up-button {
  width: 200px;
  height: 57px;
  align-items: center;
  background-color: rgba(28, 99, 17, 1);
  cursor: pointer;
  border-radius: 5px;
  align-self: center;
}
.payment-submit {
  color: rgba(255, 255, 255, 1);
  height: auto;
  /*position: absolute;*/
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cancel {
 align-self: center;
 }